#servers
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:75%;
    border-collapse:collapse;
}
#servers td, #servers th 
{
    font-size:1em;
    border:1px solid #000000;
    padding:3px 7px 2px 7px;
}
#servers th 
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#06705D;
    color:#ffffff;
}
#servers tr.alt2 td
{
    color:#000000;
    background-color:#FFFFFF;
}
#servers tr.alt1 td 
{
    color:#000000;
    background-color:#B4F1DA;
}
#servers td.name
{
    word-break:break-all;
}
.pager_link
 {
    color:#000000;
    background-color: #e0e0e0;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.pager_link:hover 
{
    text-decoration: none;
    background-color: 1px
}
.pager_curpage 
{
    color: #ffffff;
    background-color: #06705D;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
}

